@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

.weight-500 {
   font-family: 'Inter', sans-serif;
   font-weight: 500;
}

body {
   background-color: #f1f5f9;
}

.outer-container {
   display: flex;
   align-items: center;
   height: 100vh;
}

.logo-container {
   margin-bottom: 20px;
}

.input-container {
   display: flex;
   flex-direction: column;
   gap: 2px;

}

.input-container span {
   color: red;
   font-size: 12px;
}

.input-container button {
   padding: 10px 30px;
   font-size: 16px;
   border-radius: 20px;
   margin-top: 16px;
   border: none;
   font-weight: 500;
   background-color: #4F46E5;
   color: white;
}

.input-container button:disabled {
   color: #B6BDC9;
   background-color: #e0e0e0;
}

.heading-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

   .heading-style {
      font-size: 32px;
      color: #111827;
      font-weight: 800;
      margin: 0px;
   }

   .acc-style {
      font-size: 14px;
      margin: 1%;
   }

   .acc-style span {
      font-size: 14px;
      cursor: pointer;
      color: #4F46E5;
      text-decoration: underline;
      font-weight: 500;
      margin: 0%;

   }

}

.sidebar-container {
   position: fixed;
   top: 0;
   left: 0;
   overflow-y: auto;
   width: 270px;
   background-color: #101826;
   height: auto;


   .sidebar-heading-container {

      display: flex;
      justify-content: space-between;
      gap: 7px;
      padding: 20px;

      .sidebar-logo-container {
         display: flex;
         gap: 7px;
      }

      .react-container {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 4px;
         padding-left: 8px;
         padding-right: 8px;
         background-color: #23272f;
         color: #289BC0;
         font-size: 12px;
         font-weight: 500;
         border-radius: 5px;
         height: 26px;
         /* padding-top: 1px;
         padding-bottom: 1px; */
      }

      .language-container {
         display: flex;
         justify-content: end;
         align-items: end;
         font-size: 13px;
         font-weight: 500;
         height: 22px;
         width: 22px;
         border-radius: 4px;
         padding-bottom: 2px;
         padding-right: 3px;
      }

      .typescript {
         background-color: #2177c4;
         color: #FFF;
      }

      .javascript {
         background-color: #f1dd5e;
         color: #000;

      }

      .sidebar-logo {
         height: 32px;
         width: 32px;
      }
   }
}

@media (min-width: 640px) {
   .siginin-container {
      padding: 48px;
      background-color: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      box-shadow: 1em 0 .4em gray;
      width: 300px;
      margin: auto;
      --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
      --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
   }
}

@media (max-width: 640px) {
   .siginin-container {
      padding: 40px;
      background-color: #f1f5f9;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 380px;
      margin: auto;
   }

}