@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');



::-webkit-scrollbar {
   width: 10px;

}

::-webkit-scrollbar-track {
   background: #101826;
}

::-webkit-scrollbar-thumb {
   border-radius: 40px;
   background-color: #494f5a;
   border: 3px solid #101826;
}

::-webkit-scrollbar-corner {
   background-color: #ddd;
}


.weight-500 {
   font-family: 'Inter', sans-serif;
   font-weight: 500;
}

body {
   background-color: #f1f5f9;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.outer-container {
   display: flex;
   align-items: center;
   height: 100vh;
}

.logo-container {
   margin-bottom: 20px;
}

.input-container {
   display: flex;
   flex-direction: column;
   gap: 2px;

}

.input-container span {
   color: red;
   font-size: 12px;
}

.input-container button {
   padding: 10px 30px;
   font-size: 16px;
   border-radius: 20px;
   margin-top: 16px;
   border: none;
   font-weight: 500;
   background-color: #4F46E5;
   color: white;
}

.input-container button:disabled {
   color: #B6BDC9;
   background-color: #e0e0e0;
}

.heading-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

   .heading-style {
      font-size: 32px;
      color: #111827;
      font-weight: 800;
      margin: 0px;
   }

   .acc-style {
      font-size: 14px;
      margin: 1%;
   }

   .acc-style span {
      font-size: 14px;
      cursor: pointer;
      color: #4F46E5;
      text-decoration: underline;
      font-weight: 500;
      margin: 0%;

   }

}

.sidebar-container {

   overflow-y: auto;
   width: 280px;
   background-color: #101826;
   height: 100vh;

   .sidebar-heading-container {
      position: sticky;
      background-color: #101826;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 7px;
      padding: 20px;


      .toggle-container {
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;
         height: 20px;
         width: 20px;
         padding-bottom: 4px;
         background-color: #101826;
      }



      .sidebar-logo-container {
         display: flex;
         align-items: center;
         gap: 7px;
      }

      .react-container {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 8px;
         padding-left: 8px;
         padding-right: 8px;
         background-color: #23272f;
         color: #289BC0;
         font-size: 12px;
         font-weight: 500;
         border-radius: 5px;
         height: 26px;



      }



      .typescript {
         background-color: #2177c4;
         color: #FFF;
      }

      .javascript {
         background-color: #f1dd5e;
         color: #000;

      }

      .sidebar-logo {
         height: 32px;
         width: 32px;
      }
   }

   .profile-container {
      display: flex;
      height: 160px;
      padding: 16px;
      justify-content: space-between;
      align-items: center;

      flex-direction: column;

      .profile-info-container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 3px;

         .profile-font {
            color: #FFF;
            font-size: 14px;
            font-weight: 500;
         }

         .email-font {
            color: #94A3B8;
            font-size: 13px;
            font-weight: 500;
         }
      }

      .profile-picture {
         height: 96px;
         width: 96px;
         border-radius: 50%;
      }
   }

   .menu-container {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .menu-heading-container {
         display: flex;
         gap: 4px;
         flex-direction: column;
         justify-content: flex-start;
         margin-top: 28px;
         margin-left: 28px;

         .main-heading {
            color: #818CF8;
            font-size: 12px;
            font-weight: 600;
         }

         .sub-heading {
            color: #9CA3AF;
            font-size: 11px;
            font-weight: 600;
         }
      }

      .menu-list {
         display: flex;
         flex-direction: column;
         gap: 4px;
         margin-left: 15px;
         margin-right: 15px;
         cursor: pointer;

         .menu-list-style {
            display: flex;
            align-items: center;
            gap: 18px;
            border-radius: 4px;
            padding: 12px;

         }

         .menu-list-style:hover {
            background-color: #1c2431;
         }
      }

      .menu-list div {
         color: #FFFFFFB3;
         font-size: 13px;
         font-weight: 500;

      }
   }
}

.dashboard-container {
   display: flex;

}

.heder-container {
   height: 64px;
   border-bottom: 1px solid #cbd0d8;
   display: flex;
   justify-content: space-between;
   background-color: #FFF;

   .serach-style {
      outline: none;
      border: none;
      font-size: 16px;
      padding-left: 10px;
      color: #757575;
      font-weight: 500;
      cursor: text;
      display: inline-block;
      width: 90%;
   }

   .header-profile-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
   }

   .header-icon-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
      padding-left: 20px;
   }

   .header-profile-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      position: relative;
   }

   .language-container {
      display: flex;
      gap: 4px;
      justify-content: center;
      align-items: center;
      cursor: pointer;

   }

   .menu-container {
      z-index: 999;
      position: absolute;
      top: 40px;
      left: -12px;
      padding: 15px;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: #fff;
      color: #111827;
      font-size: 14px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
   }

   .menu-container div {
      display: flex;
      gap: 7px;
      justify-content: center;
      align-items: center;
      cursor: pointer;

   }

   .profile-menu-container {
      z-index: 999;
      position: absolute;
      padding: 15px;
      top: 55px;
      right: 40px;
      background-color: white;
      border-radius: 6px;
      display: flex;
      gap: 10px;
      color: #111827;
      font-size: 14px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;

      .profile-menu-icon {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
      }

      .menu-gap {
         color: #353b47;
         gap: 16px;
      }


   }



   .profile-menu-container div {
      display: flex;
      gap: 7px;
      justify-content: center;
      align-items: center;
      cursor: pointer;

   }

   .backdrop-container {
      position: fixed;
      inset: 0;
      background-color: transparent;
   }

   .language-container span {
      font-size: 14px;
      font-weight: 600;
      color: #6B7280;
   }


   .header-profile-section {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 4px;
      margin-right: 20px;
      cursor: pointer;
      border-radius: 23px;
      padding: 4px;
      background-color: white;
   }

   .header-profile-section:hover {

      background-color: #ECEDEE;
   }

   .header-profile-section div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      gap: 3px;
   }

   .header-profile-section div span:first-child {
      font-size: 14px;
      font-weight: 500;
      color: #000000DE;

   }

   .header-profile-section div span:last-child {
      font-size: 11px;
      font-weight: 500;
      color: #6B7280;
   }






   .header-profile-picture {
      height: 40px;
      width: 40px;
      border-radius: 50%;
   }

}


.layout-container {

   display: grid;
   grid-template-columns: 280px 1fr;
}

@media (min-width: 640px) {
   .siginin-container {
      padding: 48px;
      background-color: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      box-shadow: 1em 0 .4em gray;
      width: 300px;
      margin: auto;
      --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
      --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
   }
}

@media (max-width: 640px) {
   .siginin-container {
      padding: 40px;
      background-color: #f1f5f9;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 380px;
      margin: auto;
   }

}