@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.weight-500 {
   font-family: "Inter var", Roboto, Helvetica, Arial, sans-serif;
   font-weight: 500;
}

body {

   background-color: #f1f5f9;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.layout-container {

   display: grid;
   grid-template-columns: 280px 1fr;
}

.setting-container {
   z-index: 50;
   position: fixed;
   top: 250px;
   right: 0px;
   display: inline;
   width: 40px;
   height: 80px;
   background-color: #f55250;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 12px;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}

.setting-icon {
   height: 20px;
   width: 20px;
   color: white;


}

.setting-animation {
   animation-name: spin;
   animation-duration: 3000ms;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@keyframes spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}